appdirs==1.4.0
cycler==0.10.0
decorator>=4.0.11
enum34>=1.1.2
functools32==3.2.3.post2
ipython>=4.1.2,<6.0
ipython-genutils==0.1.0
matplotlib>=1.5,<3.0
networkx>=1.10,<=2.2
numpy>=1.10.0
packaging==16.8
pathlib2==2.2.1
pexpect>=4.0.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess>=0.5
pydot>=1.1
Pygments==2.15.0
pyparsing>=2.0.3
python-dateutil==2.6.0
pytz>=2016.2
scandir==1.4
scikit-learn>=0.18.1,<=0.20.3
scipy>=0.17.0
simplegeneric==0.8.1
six>=1.10.0
subprocess32==3.2.7
traitlets>=4.2.1
wcwidth==0.1.7
